<div class="container">
  <div class="light">
    <input NgxCheckbox
           type="checkbox"
           checked />

    <input NgxCheckbox
           backColor="#d81b60"
           type="checkbox" />

    <input NgxCheckbox
           backColor="#43a047"
           type="checkbox"
           color="#fff"
           checked />

    <input NgxCheckbox
           backColor="#03a9f4"
           type="checkbox"
           color="#fff" />
  </div>
  <div>
    <ngx-checkbox [color]="darkOption.color"
                  backColor="#282828"
                  [borderColor]="darkOption.borderColor"
                  [shadow]="darkOption.shadow"></ngx-checkbox>
    <ngx-checkbox [color]="darkOption.color"
                  backColor="#d81b60"
                  [borderColor]="darkOption.borderColor"
                  [shadow]="darkOption.shadow"></ngx-checkbox>
    <ngx-checkbox [color]="darkOption.color"
                  backColor="#43a047"
                  [borderColor]="darkOption.borderColor"
                  [shadow]="darkOption.shadow"></ngx-checkbox>
    <ngx-checkbox [color]="darkOption.color"
                  backColor="#03a9f4"
                  [borderColor]="darkOption.borderColor"
                  [shadow]="darkOption.shadow"></ngx-checkbox>
  </div>

  <div class="blue">
    <input NgxCheckbox
           type="checkbox"
           color="#fff"
           backColor="#001748"
           borderColor="#00347e33"
           cWidth="30px"
           cHeight="30px"
           checkWidth="9px"
           checkHeight="15px"
           checked />

    <input NgxCheckbox
           backColor="#d81b60"
           type="checkbox" />

    <input NgxCheckbox
           backColor="#43a047"
           type="checkbox"
           color="#fff"
           cWidth="15px"
           cHeight="15px"
           checkWidth="4px"
           checkHeight="8px"
           checked />

    <input NgxCheckbox
           backColor="#03a9f4"
           type="checkbox"
           color="#fff"
           cWidth="10px"
           cHeight="10px"
           checkWidth="3px"
           checkHeight="6px" />
  </div>
</div>